@import 'global';
// Konten Posisition
.left-content{
	width: 25%;
	padding-right: 15px
}

.center-content{
	width: 50%;
	padding: 0px 15px;
	border-right: 1px solid $trib-primary;
	border-left: 1px solid $trib-primary;
}

.right-content{
	width: 25%;
	padding-left: 15px
}

.left-content-sm{
	width: 15%;
	padding-right: 15px
}

.left-content-big{
	width: 75%;
	padding-right: 15px;
	border-right: 1px solid $trib-primary;
}

.center-content-big{
	width: 60%;
	padding: 0px 15px;
	border-right: 1px solid $trib-primary;
	border-left: 1px solid $trib-primary;
}

//Label
.label-kanal{
	font-size: 12px !important;
	color: #fff;
	width: max-content;
	padding: 5px;
}

.operasional{
	background-color: #cc0000;
}

.foto{
	background-color: #009900;
}

.video{
	background-color: #cc5200;
}

.binkam{
	background-color: #e68a00;
}

.teknologi{
	background-color: #000066;
}

.internasional{
	background-color: #14a590;
}

.humanis{
	background-color: #ef2d51;
}

// Heading Title
.warp-heading{
	margin-bottom: 5px;
	width: 100%;
	content: "";
  	clear: both;
  	display: table;
}

.heading-title-kanal{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 4px solid $trib-red;
	width: max-content;
	float: left;

	&:first-letter{
		color: $trib-red;
	}
}

.more{
	float: right;

	a{
		color: #767676;
	}

	a:hover{
		text-decoration: none;
		color: $trib-red;
	}
}

// Breadcrumb
.page-breadcrumb{
	font-size: 14px;
	border-bottom: 1px solid #eee;
	margin: 20px 0px;

	a{
		color: $trib-grey;
	}

	a:hover{
		text-decoration: none;
		color: $trib-red;
	}

	ul{
		list-style: none;
		margin-bottom: 10px !important;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	li:after{
		color: $trib-grey;
		content:" / ";
	}

	li:last-child::after{
		padding: 10px;
		content:" ";
	}
}

// Visitor Counter
.visitor-counter{
	margin: 15px 0px; 

	text{
		font-size: 13px !important;
	}

	canvas{
		width: 100%;
	}

	img{
		display: none !important;
	}
}

// Button More
.btn-more{
	font-size: 20px;
	text-align: center;
	margin: 30px 0px 40px 0px;

	a{
		color: #fff;
		background-color: $trib-primary;
		border-radius: 100px;
		padding: 10px 40px;
		-webkit-box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 7px 17px -10px rgba(0,0,0,0.75);
	}

	a:hover{
		background-color: $trib-red;
		color: #fff;
		text-decoration: none;
	}
}

// Headline
.headline{
	padding: 20px 0px;
}

.center-headline{
	width: 47%;
	margin: 0px 15px;
}

.label-kanal-headline{
	font-size: 12px !important;
	font-weight: bold;
	color: #fff;
	width: max-content;
	margin-bottom: 5px;
}

.box-headline{
	position: relative;

	img{
		object-fit: cover;
		width: 100%;
		height: 445px;
		border-radius: 10px;
	}
}

.box-desc-headline{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	border-radius: 0px 0px 10px 10px;

	&:hover .date-headline{
		visibility: visible;
		max-height: 500px;
		transition: 3s;
	}
}

.title-frist-headline{
	font-size: 22px;
	font-weight: bold;
	// padding-top: 10px;

	a{
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		color: $trib-hover;
	}
}

//Other Headline Left and Right
.right-headline{
	width: 25%;
}

.left-headline{
	width: 25%;
}

.box-others-headline{
	position: relative;
	width: 100%;

	img{
		object-fit: cover;
		width: 100%;
		height: 215px;
		border-radius: 10px;
	}
}

.box-others-headline-bottom{
	position: relative;
	padding-top: 15px;
	width: 100%;

	img{
		object-fit: cover;
		width: 100%;
		height: 215px;
		border-radius: 10px;
	}
}

.box-desc-others-headline{
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 15;
	padding: 10px;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	border-radius: 0px 0px 10px 10px;

	&:hover .date-headline{
		visibility: visible;
		max-height: 500px;
		transition: 3s;
	}
}

.date-headline{
	visibility: hidden;
	max-height: 0;
	font-size: 12px;
	color: #fff;
	margin-bottom: 5px;
}

.title-others-headline{
	font-size: 14px;
	font-weight: bold;
	// padding-top: 10px;

	a{
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		color: $trib-hover;
	}
}

.img-headline{
	position: relative;
	width: 100%;
	height: 215px;
	border-radius: 10px;
	overflow: hidden;

	img{
		width: 100%;
		height: 215px;
		object-fit: cover;

	}
}

.cover-headline{
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	color: #fff;
	background: #009900;
	opacity: 0.8;
}

// Laporan / HOT LINE
.warp-btn-laporan{
	margin: 0px 0px 15px;

	a{
		display: block;
		background-color: #db1010;
		padding: 15px;
		text-align: center;
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		border-radius: 5px;
	}

	a:hover{
		background-color: #bb0f0f;
		text-decoration: none;
		color: #fff;
	}
}

// TVR Polri
.warp-tvr-polri{
	background-color: #000000;
	padding: 10px 10px;
	border-radius: 6px;
	margin-bottom: 15px;

	img{
		width: 200px;
		margin: auto;
		display: block;
	}
}

// Data Pelaporan
.data-pelaporan, .data-kejadian, .data-verifikasi{
	margin: 30px 0px;
}

.form-laporan, .form-kejadian, .form-verifikasi{
	width: 100%;
	margin: 30px 0px;
}

.form-group{
	width: 60%;
	margin: 15px 0px;
}

.lap-required{
	font-size: 14px;
	color: red;	
}

.label-laporan{
	width: 30%;
	color : #000;
	font-size: 16px;
	margin: 10px 0px;
}

.input-laporan{
	width: 70%;
}

.input-laporan-datetime{
	width: 35%;
}

.text-lap{
	width: 100%;
	color : #000;
	font-size: 16px;
	padding: 10px 20px;
	border: 2px solid #c7c7c7;
	border-radius: 5px;

	&:focus{
		border: 2px solid $trib-primary;
	}
}

.date-lap{
	width: 100% !important;
	color : #000 !important;
	font-size: 16px !important;
	padding: 21px 20px !important;
	border: 2px solid #c7c7c7 !important;
	border-radius: 5px !important;

	&:focus{
		border: 2px solid $trib-primary !important;
	}
}

.datetime-lap{
	width: 50% !important;
	color : #000 !important;
	font-size: 16px !important;
	padding: 21px 20px !important;
	border: 2px solid #c7c7c7 !important;
	border-radius: 5px !important;

	&:focus{
		border: 2px solid $trib-primary !important;
	}
}

.combo-lap{
	width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'tahoma';
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    background: url('../../assets/images/chevron-down-solid.svg') no-repeat right #fff;
    background-size: 15px;
    -webkit-appearance: none;
    background-position-x: 97%;
    color: #000;
}

.btn-lap{
	margin: 30px 10px 30px;
	font-size: 16px;
	border: 1px solid $trib-primary;
	background-color: $trib-primary;
	border-radius: 5px;
	padding: 15px 25px;
	color: #fff;
	text-align: center;
}

.lap-thanks{
	width: 100%;
	background-color: #128c19;
	color: #fff;
	padding: 30px 30px;
	text-align: center;
	font-size: 16px;
	border-radius: 5px;
}

// Terpopuler
.populer{
	padding: 15px 0px;
}

.warp-list-populer{
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: #fff;
	border-bottom: 1px dashed $trib-primary;
}

.no-populer{
	font-size: 18px;
	width: 10%;
	float: left
}

.title-populer{
	font-size: 16px;
	font-weight: bold;
	width: 90%;
	float: right;

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

// List Artikel Kanal Side
.warp-list-artikel-side{
	padding: 15px 0px;
}

.list-artikel-side{
	padding-bottom: 15px;

	a:hover{
		text-decoration: none;
	}
}

.img-list-artikel-side{
	float: left;
	width: 35%;
	height: 90px;
	object-fit: cover;
	border-radius: 10px;
}

.title-list-artikel-side{
	float: right;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	width: 65%;
	padding-left: 10px;
	
	&:hover{
		color: $trib-primary;
		text-decoration: none;
	}
}

// Live Streaming
.live-streaming{
	padding: 15px 0px;
}

.live-streaming-youtube{
	width: 100%;
	height: 300px;
}

// List Artikel Center
.warp-list-artikel{
	padding: 15px 0px 0px;
	border-bottom: 1px solid #eee;
}

.list-artikel{
	padding-bottom: 15px;
}

.img-artikel{
	float: left;
	border-radius: 10px;
	width: 25%;
	height: 110px;
	overflow: hidden;

	img{
		width: 100%;
		height: 110px;
		object-fit: cover;
	}
}

.warp-desc-artikel{
	float: right;
	width: 75%;
	padding-left: 10px;
}

.warp-head-artikel{
	margin-bottom: 10px;
}

.date-artikel{
	font-size: 12px;
	color: $trib-grey;

	&:before{
		content: " ";
		padding-left: 10px;
	}
}

.title-artikel{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

.desc-artikel{
	font-size: 14px;
}

// List Artikel Big
.warp-list-artikel-big{
	padding: 15px 0px 0px;
	border-bottom: 1px solid #eee;
}

.list-artikel-big{
	padding-bottom: 15px;
}

.img-artikel-big{
	float: left;
	border-radius: 10px;
	width: 25%;
	height: 150px;
	overflow: hidden;

	img{
		width: 100%;
		height: 150px;
		object-fit: cover;
	}
}

.warp-desc-artikel-big{
	float: right;
	width: 75%;
	padding-left: 10px;
}

.warp-head-artikel-big{
	margin-bottom: 10px;
}

.date-artikel-big{
	font-size: 12px;
	color: $trib-grey;
}

.title-artikel-big{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

.desc-artikel-big{
	font-size: 14px;
}

// HOT TOPIC
.hot-topic{
	padding: 15px 0px;
}

.warp-list-hot-topic{
	padding-bottom: 10px;
	margin-bottom: 15px;
	background-color: #fff;
	border-bottom: 1px dashed $trib-primary;
}

.title-hot-topic{
	font-size: 16px;
	font-weight: bold;
	width: 100%;

	&:before{
		content: "# ";
	}

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

// Foto
.warp-foto{
	padding: 15px 0px;
}

.img-foto{
	position: relative;
	border-radius: 10px;
	width: 100% !important;
	height: 215px !important;
	object-fit: cover !important;
}

.desc-foto{
	position: absolute;
	z-index: 1;
	bottom: 0;
	padding: 10px;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	border-radius: 0px 0px 10px 10px;

	font-size: 14px;
	font-weight: bold;

	a{
		color: #fff !important;
	}

	a:hover{
		text-decoration: none;
		color: $trib-hover !important;
	}

	&:hover .date-headline{
		visibility: visible;
		max-height: 500px;
		transition: 3s;
	}
}

// Video
.warp-video{
	padding: 15px 0px;
}

.img-video{
	position: relative;
	border-radius: 10px;
	width: 100% !important;
	height: 215px !important;
	object-fit: cover !important;
}

.desc-video{
	position: absolute;
	z-index: 1;
	bottom: 0;
	padding: 10px;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	border-radius: 0px 0px 10px 10px;

	font-size: 14px;
	font-weight: bold;

	a{
		color: #fff !important;
	}

	a:hover{
		text-decoration: none;
		color: $trib-hover !important;
	}

	&:hover .date-headline{
		visibility: visible;
		max-height: 500px;
		transition: 3s;
	}
}

// Social Feed
.warp-social-feed{
	padding: 15px 0px;

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

.banner-side-big{
	img{
		width: 100%;
		margin: 0px auto 20px;
		display: block;
	}
}

// Read Artikel
.img-banner{
	width: 150px;
	height: 340px;
	margin: 0px auto 20px;
	display: block;
}

.warp-head-artikel-read{
	margin-bottom: 20px;
}

.title-artikel-read{
	font-family: "Roboto Slab";
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 15px;
}

.author-artikel{
	font-size: 16px;
	color: $trib-grey;
}

.date-artikel-read{
	font-size: 14px;
	color: $trib-grey;
}

.img-artikel-read{
	width: 100%;
	margin-bottom: 15px
}

.desc-img-artikel-read{
	font-size: 14px;
	color: $trib-grey;
	text-align: center;
	margin-bottom: 20px;
}

.desc-artikel-read{
	p{
		font-size: 16px;
		line-height: 25px;
	}

	img{
		width: 70%;
		border-radius: 10px;
		margin: 15px auto;
		display: block;
	}
}

.warp-share-button{
	margin: 30px 0px 20px 0px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	li:after{
		padding-right: 5px;
	}

	a:hover{
		text-decoration: none;
	}
}

.share-button{
	width: 40px;
}

.warp-reaction{
	margin: 20px 0px;
}

// Berita Terkait
.warp-berita-terkait{
	border-top: 1px solid $trib-grey;
	margin: 20px 0px;
	padding: 15px 0px;
}

.list-berita-tag{
	font-size: 14px;
	padding: 20px 0px;

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		display: inline-block;
		margin: 10px 0px;
	}

	a{
		color: #fff;
		padding: 10px 10px;
		border-radius: 50px;
		background: rgb(40,109,180);
		background: linear-gradient(18deg, rgba(40,109,180,1) 0%, rgba(8,80,156,1) 100%);
	}

	a:hover{
		text-decoration: none;
		color: #fff;
		background: $trib-primary;
	}
}

.list-berita-terkait{
	font-size: 16px;
	font-weight: bold;

	ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}

	li{
		padding: 8px 0px;
		border-bottom: 1px dashed $trib-grey;
	}

	li:hover{
		border-bottom: 1px dashed $trib-primary;
	}

	a{
		color: $trib-primary;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

// Komentar
.warp-form-komentar{
	padding: 20px 0px;
}

.input-komentar{
	width: 100%;
	border: 1px solid $trib-grey;
	border-radius: 5px;
	font-size: 16px;
	padding: 5px;
}

.btn-komentar{
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
	padding: 8px 20px;
	border-radius: 5px;
	background: $trib-red;
	cursor: pointer;
	border: 1px solid $trib-red;
	
	&:hover{
		color: $trib-red;
		background: #fff;
		border: 1px solid $trib-red;
	}
}

.warp-list-komentar{
	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}
}

.box-komentar{
	font-size: 14px;
	padding: 10px;
	margin: 10px 0px;
	background: #f7f7f7;
	border-radius: 5px;
	border: 1px solid #e1e1e1;
}

.komentar-reply{
	margin-left: 50px;
}

.avatar-komentar{
	width: 10%;

	img{
		border-radius: 50px;
		width: 60px;
		height: 60px;
	}
}

.box-detail-komentar{
	width: 90%;
	padding-left: 10px;
}

.nama-komentar{
	font-weight: bold;
	margin-bottom: 5px;
}

.isi-komentar{
	margin-bottom: 5px;
}

.footer-komentar{
	color: #aeaeae;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
	}

	.reply{
		margin-left: 30px;
	}

	li:after{
		content: " | ";
	}

	li:last-child:after{
		content: "";
	}

	a{
		color: #aeaeae;
	}

	a:hover{
		text-decoration: none;
		color: #aeaeae;
	}
}

// Sub Kanal
.box-artikel-subkanal{
	margin: 20px -10px;
}

.artikel-subkanal{
	width: 33.33%;
	padding: 10px;
}

.img-subkanal{
	width: 100%;
	height: 220px;
	border-radius: 10px;
	overflow: hidden;

	img{
		width: 100%;
		height: 220px;
		object-fit: cover;
		transition: transform .5s ease;
	}

	&:hover img{
		transform: scale(1.5);
	}
}

.date-subkanal{
	font-size: 12px;
	color: $trib-grey;
	padding-top: 10px;
}

.title-subkanal{
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	
	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-red;
	}
}

// Sub Kanal Foto
.box-artikel-list-subkanal-foto{
	margin: 0px -10px;
}

.img-subkanal-foto{
	position: relative;
	width: 100%;
	height: 220px;
	border-radius: 10px;
	overflow: hidden;

	img{
		width: 100%;
		height: 220px;
		object-fit: cover;
		transition: transform .5s ease;
	}

	&:hover img{
		transform: scale(1.5);
	}
}

.label-kanal-foto{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 2;
	font-size: 12px !important;
	color: #fff;
	width: max-content;
	padding: 10px;
	background: #009900;
}

.cover-kanal-foto{
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	color: #fff;
	background: $trib-red;
}

// Foto Terkait
.box-list-foto-terkait{
	margin: 0px -15px;
}

.warp-list-foto-terkait{
	width: 50%;
	padding: 15px 15px;

	a:hover{
		text-decoration: none;
	}

	a:hover img{
		transform: scale(1.5);
	}
}

.img-list-foto-terkait{
	float: left;
	width: 30%;
	height: 90px;
	overflow: hidden;
	border-radius: 10px;

	img{
		width: 100%;
		height: 90px;
		object-fit: cover;
		transition: transform .5s ease;
	}
}

.title-list-foto-terkait{
	float: right;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	width: 70%;
	padding-left: 10px;
	
	&:hover{
		color: $trib-red;
		text-decoration: none;
	}
}

// Kanal Video
.label-kanal-video{
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 2;
	font-size: 12px !important;
	color: #fff;
	width: max-content;
	padding: 10px;
	background: #cc5200;
}

// Baca Foto
.warp-foto-slide{
	margin: 20px 0px;
}

.carousel-inner, .item{
	border-radius: 10px !important;
}

.carousel-indicators{
	li{
		background-color: #D5D5D5 !important; 
	}

	li.active{
		background-color: $trib-red !important; 
	}
}

.left{
	border-radius: 10px 0px 0px 10px !important;
}

.right{
	border-radius: 0px 10px 10px 0px !important;
}

.img-foto-slide{
	width: 100% !important;
	height: 450px !important;
	object-fit: cover !important;
	border-radius: 10px !important;
}

// Baca Video
.warp-video{
	margin-bottom: 5px;
}

.video-youtube{
	width: 100%;
	height: 500px;
}

// List Sub Kanal
.box-artikel-list-subkanal{
	margin: -10px 0px 0px;
}

.list-subkanal{
	padding: 10px 0px;
}

.img-list-subkanal{
	width: 30%;
	height: 220px;
	border-radius: 10px;
	overflow: hidden;

	img{
		width: 100%;
		height: 220px;
		object-fit: cover;
		transition: transform .5s ease;
	}

	&:hover img{
		transform: scale(1.5);
	}
}

.box-desc-list-subkanal{
	width: 70%;
	padding-left: 20px;
}

.date-list-subkanal{
	font-size: 14px;
	color: $trib-grey;
}

.title-list-subkanal{
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
	
	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $trib-primary;
	}
}

.desc-list-subkanal{
	font-size: 16px;
	padding-top: 10px;
}

// Filter Berita
.box-filter{
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $trib-primary;
}

.box-combo{
	width: 30%;
	padding-right: 10px;
}

select.combo-filter{
	font-size: 14px;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #eee;

	background:
	    linear-gradient(45deg, transparent 50%, #bebed0 50%),
	    linear-gradient(135deg, #bebed0 50%, transparent 50%);
  	background-position:
	    calc(100% - 21px) calc(1em + 2px),
	    calc(100% - 16px) calc(1em + 2px),
	    100% 0;
  	background-size:
	    5px 5px,
	    5px 5px,
	    2.5em 2.5em;
  	background-repeat: no-repeat;

	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;

	option{
		font-family: "Arial";
	}
}

.box-date{
	width: 30%;
	padding-right: 10px;
}

.date-filter{
	font-size: 14px;
	border: 1px solid #eee;
	width: 100%;
	padding: 10px !important;
	border-radius: 5px !important;
}

.box-button{
	width: 30%;
}

.btn-filter{
	font-size: 14px;
	border: 1px solid $trib-red;
	padding: 10px 15px;
	border-radius: 50px;
	background: $trib-red;
	color: #fff;

	&:hover{
		background: #cf4343;
	}
}

// Pagination
.pagination{
	display: block;
	padding: 30px 0px 0px;
	text-align: center;

	ul{
		list-style: none;
		padding: 0px;
	}

	li{
		display: inline-block;
		padding-right: 5px;
	}

	a{
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		color: #fff;
		padding: 10px 15px;
		background-color: $trib-grey;
	}

	a:hover{
		background-color: #cf4343;
		text-decoration: none;
		color: #fff;
	}

	a.active{
		background-color: $trib-red;
	}

	a.active:hover{
		background-color: #cf4343;
	}
}

// Pencarian
.box-pencarian{
	margin: -10px 0px 0px;
}

.result-foto{
	margin: 0px -10px;
	min-height: 100px;
}

.count-pencarian{
	font-size: 18px;
	color: 000;
	padding-bottom: 15px;
	margin: 15px 0px;
	border-bottom: 1px solid $trib-primary;
}

.img-artikel-pencarian{
	float: left;
	border-radius: 10px;
	width: 15%;
	height: 130px;
	overflow: hidden;

	img{
		width: 100%;
		height: 130px;
		object-fit: cover;
	}
}

.warp-desc-artikel-pencarian{
	float: right;
	width: 85%;
	padding-left: 10px;
}

// Management
.box-management{
	margin: 20px 0px;
}

.left-management{
	width: 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.right-management{
	width: 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

.nav-management{
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;

	ul{
		list-style-type: none;
		padding: 0px;
	}

	a{
		color: #000;
		padding: 12px 0px;
		display: block;
		border-bottom: 1px solid #eee;
	}

	a:hover{
		color: $trib-hover;
		text-decoration: none;
		background: #eee;
		padding-left: 10px;
	}

	a.active{
		color: $trib-hover;
		text-decoration: none;
		background: #eee;
		padding-left: 10px;
	}
}

.content-management{
	margin: 20px 0px 0px 20px;
}

.magazine{
	margin: 15px 0px 30px;
	img{
		width: 100%;
		height: 350px;
	}
}

.leaflet{
	margin: 15px 0px 30px;
	img{
		width: 100%;
		height: 135px;
	}
}

// Virtual Police
.virtual-police{
	padding-bottom: 15px;

	img{
		width: 100%;
	}
}

.v-police-form{
	margin: 0px 15px;
}

.groupform-police{
	margin: 8px 0px;
	display: flex;
	flex-wrap: wrap;
}

.text-police{
	width: 30%;
	float: left;
	font-weight: bold;
	padding: 9px 0px;
}

.form-police{
	font-family: 'Roboto','arial','tahoma';
	width: 40%;
	float: left;
	border: 1px solid #dedede;
	border-radius: 6px;
	padding: 6px 8px;
	font-size: 13px;
}

.btn-wa-police{
	margin: 50px 0px;

	a{	
		padding: 15px 20px;
		color: #fff;
		background: #4fc35e;
	}

	a:hover{
		color: #fff;
		background: #4fc35e;
		text-decoration: none;
	}

	a:focus{
		color: #fff;
		background: #4fc35e;
	}
}