@import 'global';

// Heading Title
.warp-heading{
	margin-bottom: 5px;
	width: 100%;
	content: "";
  	clear: both;
  	display: table;
}

.heading-title-kanal{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 4px solid $trib-red;
	width: max-content;
	float: left;

	&:first-letter{
		color: $trib-red;
	}
}

.more{
	float: right;

	a{
		color: #767676;
	}

	a:hover{
		text-decoration: none;
		color: $trib-red;
	}
}

// Breadcrumb
.page-breadcrumb{
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #dadada;

	a{
		color: #000;
	}

	a:hover{
		text-decoration: none;
		color: $sin-primary;
	}

	ul{
		list-style: none;
		margin-bottom: 10px !important;
		padding: 0px;
	}

	li{
		display: inline-block;
	}

	li:after{
		font-family: FontAwesome;
		color: $sin-secondary;
		padding: 10px;
		content:" \f054 ";
	}

	li:last-child::after{
		padding: 10px;
		content:" ";
	}
}