// Color Lib
$trib-primary: #084585; //Biru Tua
$trib-secondary: #5381ca; //Biru Muda
$trib-red: #cc0000;
$trib-grey: #b4b4b4;
$trib-blue: #1cade4;
$trib-hr: #dbdbdb;
$trib-hover: #1a84f4;

@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face{
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab/RobotoSlab-Regular.ttf');
}

@font-face{
	font-family: 'FontAwesome';
	src: url('../fa-4.7.0/fonts/fontawesome-webfont.ttf');
}

html, body{
    height: 100%;
    margin: 0;
}

body{
	font-family: Roboto !important;
}

.container{
	padding: 0px 15px;
}

.trib-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
}

.trib-clearfix::after {
  content: "";
  clear: both;
  display: table;
}